@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide>div{
    margin: 0 6px;
}

.slick-prev:before {
    
    color: #e496c1 !important;
    
  }
  
  .slick-next:before {
    
    color: #e496c1 !important;
    
  }

  .slick-dots li.slick-active button:before
{
    
    color: #e496c1 !important;
}

.slick-dots li button:before
{
    
    color: #e496c1 !important;

  
}


@layer base{
    body {
        @apply dark:bg-bgdark bg-bglight dark:text-textdark text-textlight font-Roboto
        
    }

    
  }